".marketing-layer-stars-wrapper,
.marketing-layer-earth-wrapper,
.marketing-layer-clouds-wrapper {
  z-index: 2;
  pointer-events: none;
  transition: transform 0.15s ease-out;
  transform-origin: center bottom;
}

.marketing-layer-earth-wrapper {
  z-index: 3;
}

.marketing-layer-clouds-wrapper {
  z-index: 4;
  bottom: -25px;
}

.marketing-hotspots-overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none;
  transform-origin: center bottom;
}"